@import "styles/_colors";
@import "styles/_positions";
@import "styles/_sizes";
@import "styles/_weights";

.header {
    display: flex;
    justify-content: space-between;
    background-color: $primaryColor;
    padding: 16px 32px;
}

.logo, .profile {
    cursor: pointer;
}

.icon {
    fill: $white;
    transition: 0.3s ease-in-out;
    @include iconSize(48px);
    @media screen and (max-width: 1140px) {
        @include iconSize(32px)
    }
}

.logo {
    @include flexCenterGap(24px);
    @media screen and (max-width: 520px) {
        &__name {
            display: none;
        }
    }
}

.profile {
    @include flexCenterGap(16px);
    &__icon {
        fill: none;
    }
}

.logo:hover .icon {
    transform: rotate(10deg)
}

.name {
  color: $white;
  font-weight: $bold;
  @media screen and (max-width: 1140px) {
    font-size: $mobileFontSize;
    }
}