@import "styles/_sizes";
@import "styles/_colors";
@import "styles/_weights";

.title {
    font-size: $titleFontSize; 
    font-weight: 700;
}

.form {
    display: flex;
    gap: 24px;
    height: 70px;

    @media screen and (max-width: 1140px) {
        flex-direction: column;
        height: auto;
    }
}

.inputSearch {
    padding: 24px;
    font-size: $primaryFontSize;
    font-weight: 200;
    width: 100%;
    border: 3px solid;
    border-radius: 10px;
    outline: none;
    border-color: $primaryColor;
    font-family: "Montserrat";
    font-weight: $primary;
    color: $black;

    @media screen and (max-width: 1140px) {
        width: auto;
    }

    @media screen and (max-width: 768px) {
        padding: 16px;
        font-size: 14px;
    }
}

.inputSearch::placeholder {
    color: $darkGray;
}

.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: $primaryColor;
    gap: 16px;
    padding: 19px 40px;
    border-radius: 10px;
    border: none;
    max-width: 217px;
}

.icon {
    fill: $white;
}

.buttonText {
    color: $white;
    font-size: $titleFontSize;
    font-family: "Montserrat";
    font-weight: $bold;

    @media screen and (max-width: 1140px) {
        font-size: $primaryFontSize;
    }
}

.addressList {
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 2px 4px 1px $gray;
}

.subtitle{
    font-size: $titleFontSize;
    font-weight: $bold;
    margin: 0;
    padding-bottom: 16px;
}

.addressItem {
    border-top: 1px solid $gray;
    list-style-type: none;
    padding: 16px 0;
}

.addressLink {
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;
}

.addressLink:hover {
    color: $primaryColor;
}

.addressLink:focus {
    color: $primaryColor;
}

