@import "styles/_positions";
@import "styles/_colors";
@import "styles/_sizes";
@import "styles/_weights";

.navbar {
    box-shadow: 0 0 6px 0 #d6d6d6;
    clip-path: inset(0px -6px 0px 0px);
    user-select: none;
    height: calc(100vh - 80px); 
    overflow-y: scroll;
}

.list {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    gap: 40px;

    @media screen and (max-width: 1140px) {
        font-size: $mobileFontSize;
    }
}
  
.list:before{
    content: attr(aria-label);
    padding-left: 32px;
    font-weight: $bold;
}

.settingsList {
    @include flexCenterGap(32px);
    padding-top: 40px;
    flex-direction: column;
}

.element {
    @include flexCenterGap(16px);
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border-right: 3px solid $white;
}

.element:hover {
    border-color: $gray;
}

.element:hover .icon {
    transform: translate(2px);
}

.elementSelected {
    border-color: $primaryColor;
}

.icon {
    @include iconSize(32px);
    padding-left: 32px;
    transition: 0.1s ease-in-out;

    @media screen and (max-width: 1140px) {
        width: 24px;
        height: 24px;
    }
}

.name {
    font-weight: 600;
    color: $black;
}





