.mainContent {
    display: grid;
    grid-template-columns: 300px 1fr;
}

@media screen and (max-width: 1140px) {
    .mainContent {
        grid-template-columns: 240px 1fr;
    }
}

@media screen and (max-width: 768px) {
    .mainContent {
        display: grid;
        grid-template-columns: 0px 1fr;
    }
}